virtualenv/
.terraform/
terraform.tfstate.backup
terraform.tfstate
secrets.tfvars
_build/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Mac OS
.DS_Store
